#project-body {
    background-color:rgb(234, 239, 255);
    margin: auto;
    width: 70%;
    border: 3px solid #83afda;
    font-family: 'Lato', sans-serif
}

#title {
    text-align: center;
    color: rgb(93, 116, 185);
}

.search-option {
    float: left;
    padding: 3%;
}